#banner{
	
	width:960;
	height:200px;
	margin:auto;
	background-image:url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQilLr7eO-c2x32KcteQT8aaaNbW-pgjmCVLn5eyQfeoIXd9AV-");
background-repeat: no-repeat;}